@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body {
        padding-top: 72px;
        padding-bottom: 72px ;
    }
}

li.boderLiTreeviewMenu.disabled a{
    color: black!important;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
input{
    outline: none!important;
    border: 0;
}
abrr{
    text-decoration: none!important;
}
abbr[title] {
    border-bottom: none !important;
    cursor: default !important;
    text-decoration: none!important;
}
li.boderLiTreeviewMenu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    padding: .7rem 0;
    font-size: 1rem;
}
li.boderLiTreeviewMenu.active a{
    color: white!important;
}


.treeview {
    margin: 1rem 0 !important;
}

.ico i{
    cursor: pointer;
    font-size: 2rem;
    padding: .4rem;
    opacity: .8;
    color: black;
}

.ico a:hover {
    opacity: 1;
}

.ico a:nth-child(1):hover, .ico a:nth-child(1):hover i{
    color: #B0E0E6		;
}

.ico a:nth-child(2):hover,.ico a:nth-child(2):hover i {
    color: #200901	;
}

.ico a#check:hover,.ico a#check:hover i {
    color: #00FF7F	;
}

.ico a#delete:hover,.ico a#delete:hover i {
    color: #FF4500;
}


.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.avatar-container img {
    width: 100%;
    height: auto;
}